.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-logo {
  width: 200px;
}

.contact {
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .contact {
    font-size: 48px;
  }
}
