.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logo-heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.header-list {
  display: flex;
  padding-left: 0px;
}

.header-link-item {
  list-style-type: none;
  align-self: flex-end;
}

.route-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 16px;
}
